body {
	background-color: #77e3ba55;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
	text-align: center;
	margin: 20px auto;
	color: #000000;
}

.title {
	font-size: 30px;
	font-weight: 700;

	color: #307f82;
}
