.wrapper {
	width: 80vw;
	margin: 10px auto;
	border: #235b5d solid 2px;
	border-radius: 10px;
}
.icon,
.info {
	display: inline-block;
	text-align: center;
	margin: 10px;
	color: #235b5d;
}

.icon {
	font-size: 45px;
	transform: translateY(15px);
}

.info {
	font-size: 22px;
	line-height: 45px;
}

.result {
	font-size: 24px;
	color: #b12727;
}
